.container {
  display: table;
  padding-top: 240px; 
  width: 100%;
}


.content {

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.sub-title {
  display: inline;
  text-align: center;
  color: #ffffff;
  padding-right: 50%;
  margin: 1px auto;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
}

img.ri
{	
	display: block;
	position: relative;
	max-width: 80%;
	left: 10%;
	height: auto;

	
}
 
img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%,);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} 
 
 @media screen and (orientation: portrait) {
  img.ri {
		max-width: 40%;
  }
} 
 
@media screen and (orientation: landscape) {
  img.ri {
       max-height: 40%; 
  }